<nav>

    <div class="logo">

        <a href="index.html">

            <img src="assets/images/logo.png" alt="ReNest Logo">

        </a>

    </div>

    <ul>

        <li><a href="index.html">Home</a></li>

        <li><a href="marketplace.html">Marketplace</a></li>

        <li><a href="sell.html">Sell Item</a></li>

        <li><a href="dashboard.html">Dashboard</a></li>

        <li><a href="profile.html">Profile</a></li>
        <li>

    

</li>

        <li id="authNav"></li>

    </ul>

</nav>